apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-feed
spec:
  replicas: 2
  selector:
    matchLabels:
      app: api-feed
  template:
    metadata:
      labels:
        app: api-feed
    spec:
      containers:
        - name: api-feed
          image: pazetox/udacity-microservices:api-feed
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
          env:
            - name: PORT
              value: "8080"
            - name: POSTGRES_USERNAME
              value: "postgres"
            - name: POSTGRES_PASSWORD
              value: "99277032"
            - name: POSTGRES_HOST
              value: "database-udacity-lab.clrjhrrjum3x.us-east-1.rds.amazonaws.com"
            - name: POSTGRES_DB
              value: "postgres"
            - name: AWS_BUCKET
              value: "bucket-udacity-lab"
            - name: AWS_REGION
              value: "us-east-1"
            - name: JWT_SECRET
              value: "testing"
---
apiVersion: v1
kind: Service
metadata:
  name: api-feed
spec:
  selector:
    app: api-feed
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
  type: ClusterIP
