apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-user
spec:
  replicas: 2
  selector:
    matchLabels:
      app: api-user
  template:
    metadata:
      labels:
        app: api-user
    spec:
      containers:
        - name: api-user
          image: pazetox/udacity-microservices:api-user
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
          env:
            - name: POSTGRES_USERNAME
              value: "postgres"
            - name: POSTGRES_PASSWORD
              value: "99277032"
            - name: POSTGRES_HOST
              value: "database-udacity-lab.clrjhrrjum3x.us-east-1.rds.amazonaws.com"
            - name: POSTGRES_DB
              value: "postgres"
            - name: JWT_SECRET
              value: "testing"
